body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/images/money.jpg') no-repeat center center fixed; 
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.container {
    position: absolute;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h1 {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.sheet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sheet-card {
    flex: 0 0 calc(33.333% - 10px);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.sheet-card:hover {
    background-color: #e0e0e0;
}

#transaction-form input[type="text"],
#transaction-form input[type="number"],
#transaction-form select {
    width: calc(100% - 20px); 
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#transaction-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#transaction-form button:hover {
    background-color: #0056b3;
}
